

.gran {
  padding: 2vh 6vw;
  background-color: #b88d19;

}


.amor-modified {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 0;
  text-wrap: pretty;
  background-color: transparent;
  color: white;
  transition: transform 250ms;
  border: 1px solid transparent;
  h3{
    font-size: 0.9rem;
    margin: 0;
  }
  img {
    width: 25px;
  }
}

.amor-modified:hover {
  transform: scale(1.2);
}

.user-modified {
  transition: transform 250ms;

  width: 45px;
}
.user-modified:hover {
  transform: scale(1.2);
}

.userr:hover {
  transform: scale(1.1);
}

.offbody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.myprof {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.myprof2 {
  font-size: 1.5rem;
  display: flex;
  padding: 8px;
}
.casa, .bag, .signins, .articles{
  filter: invert(100%);
}

.shopAmount{
position: absolute;
color: #B88D19;
right: 14px;
bottom: 17px;
border-radius: 50%;
width: 25px;
text-align: center;
font-weight: bold;
background-color:white ;
}
