.gerallog {
  display: flex;
  background-color: #efebe8;
  height: 100vh;
}
.clainpic2{
  display: flex;
  width: 500px;
  margin-bottom: 50px;
}
.laterallog {
  position: relative;
  margin-left: 0;
  width: 35%;
  object-fit: cover;
  background-image: url("/assets/images/imagetelas.png");
  background-size: cover;
}

.logaccount {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  h1 {
    font-size: 3.8rem;
  }
}
.formlog {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  width: 65%;
  flex-direction: column;
  p {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

.errorMessage {
  color: red;
  padding: 8px;
}
.signin {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* .forgot {
  margin-top: 20px;
} */
.mobile-text{
  display: none;
}

//desktop
@media(max-width: 756px){
.laterallog{
  display: none;
}
.gerallog{
  display: flex;
  justify-content: center;
}
.clainpic{
  margin-top: 70px;
}
.iconosredes{
  width: 350px;
  
}


}

//Mobile
@media (max-width: 576px) {
  .laterallog {
    display: none; 
  }
  header{
    display: none;
  }
  .gerallog{
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
  .formlog{
    padding-top: 20px;
  }
  .clainpic2{
    width: 300px;
    margin-top: 0;
  }
  .instructions{
    display: none;
  }
  .iconosredes{
      display: none;
  }
  .mobile-text{
    display: block;
    margin-right: 110px;
    margin-bottom: 20px;
    font-weight: bold; 
  }

  form{
    margin-top: 20px;
  }
  .forgot{
    margin-top: 0;
    font-size: 0.8rem;
  }
  .redir{
    margin-top: 10px;
 
   
  }
  .errorMessage{
    padding-top: 1px;
    font-size: 0.9rem;
    margin-left: 10px;
  }


  }
  

