/* Quitar flechitas del tipo number */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

.geral{
  background-color:#EFEBE8;
  display: flex;
}
.clain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formu1_1{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 65%;
  flex-direction: column;
  

  .form02 {
    width: 400px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0
  }

  h4{
    width: 100%;
    padding: 0 10px;
  }
  p{
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
.clainpic {  
  width: 500px;

}

.instructions{
  margin-bottom: 30px;
}
.back{
  display: flex;
  padding: 8px;
  align-items: flex-start;
  .arrowback{
    width: 50px;
  }
}
.signup{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.lateral {
  position: relative;
  margin-left: 0;
  width: 35%;
  height: 110vh;

  object-fit: cover;
  background-image: url('/assets/images/createaccount.png');
  background-size: cover;
}
.create {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  h1{
     font-size: 3.8rem;
  }
}
.redir{
  margin-bottom: 30px;
}

.errorMessage {
  color: red;
}

.buttonForm {
  margin: 15px;
}

@media (width < 576px){
  
  .clainpic {
    width: 300px;
    padding-top: 10px;
  }

  .clain, h2, h4 {
    padding: 15px 0;
  }

  .geral {
    height: 133vh;
  }
}