.reset-pass {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
  background-color:#EFEBE8;
  img {
    width: 150px;
  }
}
  .try-again{
    padding-top: 80px;
  }
  @media (max-width: 726px){
    .reset-pass{
    padding-right: 20px;
    padding-left: 20px;
    
    }
  } 
  //mobile

@media (max-width: 576px){
  .reset-pass{
   padding: 40px;
   font-size: 0.8rem;
   p{
    margin-top: 10px;
   }
   img{
    margin-top: 15px;
    width: 110px;
   }
   .but-log{
    margin-bottom: 25px;
  }
  }
}
