.geral01{
  display: flex;
  background-color:#EFEBE8;
}
.clain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}
.formu1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
 flex-direction: column; 
  p{
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
.clainpic1 {
  display: flex;
  width: 500px;
  margin-bottom: 70px;

}
.iconosredes{
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
     width:200px;
  }
}

.instructions{
  margin-bottom: 30px;
}
.back{
  display: flex;
  padding: 8px;
  align-items: flex-start;
  .arrowback{
    width: 50px;
  }
}
.signup{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.lateral {
  position: relative;
  margin-left: 0;
  width: 35%;
  height: 92vh;
  object-fit: cover;
  background-image: url('/assets/images/createaccount.png');
  background-size: cover;
}
.create {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  h1{
     font-size: 3.8rem;
  }
}
.redir{
  margin-bottom: 30px;
}
.create-acc{
  display:none;
}
@media(max-width: 766px){
  .signup{
    margin-bottom: 20px;
  }
  .lateral{
    display: none;
  }
  .geral01{
    justify-content: center;
  }
  .formu1{
    padding: 0;
   
  }

}

//mobile
@media(max-width: 576px){
  .iconosredes{
    display: none;
  }
  .geral01{
    justify-content: center;
    
  }
  .create-acc{
   margin-right: 150px;
   font-weight: bold;
   font-size: 1.1rem;
   display: block;
  }
  .clainpic1{
    width: 300px;
    padding-top: 100px; 
    margin-bottom: 20px;
  }
  .acc-log{
    margin-bottom: 110px;
    
  }



}