@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");

.like-title{
  color: black;
  font-family: 'Italiana';
  text-align: center;
  align-items: center;
  justify-content: center;
  h2{
    font-size: 3rem;
  }
}
.maylike-bg{
  background-color: #d7d4d2;
  padding-bottom: 70px;

}

